.App {
  text-align: center;
}

.headshot{
  max-width: 250px;
  width:40%;
  border-radius: 30%;

}
.name{
  color: darkcyan;
}

.education{
  font-size: calc(10px + 1.5vmin);
}

.links, li, a {
  display: inline;
  list-style: none;
  padding: 0px;
  color: #0000ff;
  font-size: calc(10px + 1vmin);
  text-decoration: none;
}

.links, li:after {
  color: #000;
  content:" | ";
}
.links li:last-child::after{
  content: "";
}

.App-header {
  background-color: #ffffff;
  padding-top: 1%;
  min-height: 100vh;
  max-width: 60%;
  margin: 0 auto;
  word-wrap: normal;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

